{{- if .Values.ingress.enabled }}
apiVersion: networking.k8s.io/v1beta1
kind: Ingress
metadata:
{{- if .Values.ingress.annotations }}
  annotations:
{{ toYaml .Values.ingress.annotations | indent 4 }}
{{- end }}
  name: {{ template "fullname" . }}
spec:
  rules:
  - host: {{ template "hostname" . }}
    http:
      paths:
      - backend:
          serviceName: {{ template "fullname" . }}
          servicePort: {{ .Values.deployment.port }}
{{- if .Values.ingress.tls }}
  tls:
    - hosts:
      - {{ template "hostname" . }}
      secretName: {{ template "hostname" . }}
{{- end -}}
{{- end }}
