![Release Banner](https://raw.githubusercontent.com/{{ repo_full_name }}/{{ commit_hash }}/release/release-banner.jpg)

## Changes
{{ changes }}

## Protocol Upgrade
This release does not contain a consensus protocol upgrade.

## Additional Resources
* [Algorand Forum](https://forum.algorand.org)
* [Developer FAQs](https://developer.algorand.org/docs/developer-faq)
* [Developer Documentation](https://developer.algorand.org)
